
.Data {
    display: flex;
    width: 100%;
    align-content: center;
    padding: 1em;
}

.Formulario {
    margin-top: 2em;
    width: 95%;
    margin: 2em;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
}

    .Formulario h2 {
        text-align: center;
        color: deepskyblue;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
    }

@media (max-width: 768px) {
    .Data {
        flex-direction: column;
    }

    .Formulario {
        width: 100%;
        margin: 1em 0
    }
}

.Buttons {
    width: 100%;
    text-align: center;
    align-content: center;
}

.RadioButtons {
    color: white;
}

.RadioButtons td{
    padding-bottom: 0.50em;

}

.RadioButtonList{
    width: 100%;
}

.GridView {
    width: 100%;
}



.myGridClass {
    width: 100%;
    /*this will be the color of the odd row*/
    background-color: rgb(0, 0, 0, 0.8);
    margin: 5px 0 10px 0;
    border: solid 1px rgb(55 55 55 / 0.90);
    border-collapse: collapse;
}

    /*data elements*/
    .myGridClass td {
        padding: 2px;
        border: solid 1px rgb(55 55 55 / 0.90);
        ;
        color: white;
    }

    /*header elements*/
    .myGridClass th {
        padding: 4px 2px;
        color: #fff;
        background: #424242;
        border-left: solid 1px rgb(55 55 55 / 0.90);
        ;
        font-size: 0.9em;
    }

    /*his will be the color of even row*/
    .myGridClass .myAltRowClass {
        background: rgba(0, 0, 0, 0.5) repeat-x top;
    }

    /*and finally, we style the pager on the bottom*/
    .myGridClass .myPagerClass {
        background: #424242;
    }

        .myGridClass .myPagerClass table {
            margin: 5px 0;
        }

        .myGridClass .myPagerClass td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: rgb(39, 39, 39, 0,5);
            line-height: 12px;
        }

        .myGridClass .myPagerClass a {
            color: rgb(39, 39, 39, 0,5);
            text-decoration: none;
        }

            .myGridClass .myPagerClass a:hover {
                color: rgb(39, 39, 39, 0,91);
                text-decoration: none;
            }